<nav id="rw-main-toolbar" class="row">

</nav>

<div class="row rw-content">
  <div class="col-md-8">
    <section class="rw-panel">
      <header>
        <div>今日话题</div>
      </header>
      <section>
        <div>
          <header>最多参与</header>
          <section>
            <p>
              <span><a href="javascript:">聊天</a></span>
              <span><a href="javascript:">测试</a></span>
              <span><a href="javascript:">系统</a></span>
              <span><a href="javascript:">占位</a></span>
              <span><a href="javascript:">置顶</a></span>
            </p>
          </section>
        </div>
        <div>
          <header>最新话题</header>
          <section>
            <p>
              <span><a href="javascript:">聊天</a></span>
              <span><a href="javascript:">测试</a></span>
              <span><a href="javascript:">系统</a></span>
              <span><a href="javascript:">占位</a></span>
              <span><a href="javascript:">置顶</a></span>
            </p>
          </section>
        </div>
        <div>
          <header>话题分类</header>
          <section>
            <p>
              <span><a href="javascript:">置顶</a></span>
              <span><a href="javascript:">系统</a></span>
              <span><a href="javascript:">动漫</a></span>
              <span><a href="javascript:">游戏</a></span>
              <span><a href="javascript:">生活</a></span>
              <span><a href="javascript:">技术</a></span>
              <span><a href="javascript:">文学</a></span>
              <span><a href="javascript:">聊天</a></span>
            </p>
          </section>
        </div>
        <div>
          <header>活跃用户</header>
          <section></section>
        </div>
      </section>
    </section>

    <section class="rw-panel">
      <header>
        <div>推荐帖子</div>
      </header>
      <section>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>作者</th>
              <th>回复/点击</th>
              <th>最后回复</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <a href="javascript:">测试主题 &ndash; 没别的用途就是测试一下，或者说占位？</a>
              </th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">测试</a></span> &middot;
                <span><a href="javascript:">系统</a></span> &middot; <span><a href="javascript:">聊天</a></span> &middot;
                <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">楼上胡扯！</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">辟谣</a></span> &middot;
                <span><a href="javascript:">系统</a></span> &middot; <span><a href="javascript:">聊天</a></span> &middot;
                <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th><a href="javascript:">测试帖子</a></th>
              <td><a href="javascript:">靜水詩月</a></td>
              <td>12</td>
              <td><a href="javascript:">靜水詩月</a></td>
            </tr>
            <tr>
              <td>
                <span><a href="javascript:">置顶</a></span> &middot; <span><a href="javascript:">系统</a></span> &middot;
                <span><a href="javascript:">聊天</a></span> &middot; <span><a href="javascript:">电脑技术</a></span> &middot;
                <span><a href="javascript:">占位</a></span>
              </td>
              <td>2012-07-23</td>
              <td>1739</td>
              <td><a href="javascript:">2012-07-24</a></td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>
  </div>

  <div class="col-md-4">
    <section class="rw-panel">
      <header>
        <div>我的订阅</div>
      </header>
      <section></section>
    </section>

    <section class="rw-panel">
      <header>
        <div>最新帖子</div>
      </header>
      <section></section>
    </section>

    <section class="rw-panel">
      <header>
        <div>最新回复</div>
      </header>
      <section></section>
    </section>

    <section class="rw-panel">
      <header>
        <div>抓版主</div>
      </header>
      <section></section>
    </section>

    <section class="rw-panel">
      <header>
        <div>论坛现状</div>
      </header>
      <section></section>
    </section>
  </div>
</div>
